.ant-modal-content {
    width: 100%;
    height: 100%;
    border-radius: 8px;;
}

.ant-modal {
    top: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    /* height: 90%; */
}

.ant-modal-body {
    padding: 50px;
}

.button-cancel {
    background: #ffffff;
    border: 1px solid #DC241F;
    border-radius: 6px;
    color: #DC241F;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
}

.button-send {
    background: #DC241F;
    border-radius: 6px;
    color: #ffffff;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
}